/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}
.logo_mbrasil {
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    letter-spacing: -3px;
    font-size: 1.5em !important;
}